.footer{
position: fixed; 
bottom: 5px; 
margin-left: 50px; 

} 

a{

text-decoration: none; 
} 

.social{
width: 50px; 
height: 50px; 

} 

hr{
color: purple; 
width: 5px; 
} 
.header pre,h1,a{
	color: gray; 
	font-family: Arial; 
	
} 
